@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* @font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
} */

:root {
  --color-p: #dddddd;
}

html {
  background-color: #202020;
}
body {
  font-family: "Pretendard", sans-serif;
  margin-block: 8vmin;
  margin-inline: auto;
  color: white;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.2px;
  max-width: min(800px, 90vw);
}

p {
  color: var(--color-p);
  line-height: 1.5;
  margin-block: 9px;
}

.center {
  text-align: center;
}

h3 {
  margin-top: 36px;
  margin-bottom: 12px;
}

a {
  color: #4ba1f1;
  font-family: inherit;
  margin-block: 14px;
  text-underline-offset: 3px;
  font-size: 1.2em;
}

table,
th,
td {
  padding: 0.5em;
  border: 1px solid var(--color-p);
  color: var(--color-p);
  border-collapse: collapse;
}

.container h2 {
  margin-top: 1.4em;
}

/*^ 격자판  */
.격자판 {
  position: relative;
  width: max-content;
}

.격자판 div {
  position: absolute;
  height: 2px;
  left: 1px;
  top: 0;
}
.격자판 .top {
  width: 100%;
  background-color: #9cff75;
}
.격자판 .bottom {
  width: 100%;
  transform-origin: top left;
  transform: rotate(90deg);
  background-color: #ffd000;
}

.격자판 .cross-left {
  width: 141%;
  transform-origin: top left;
  transform: rotate(45deg);
  background-color: #ff4747;
}

.격자판 .cross-right {
  width: 141%;
  transform-origin: bottom left;
  transform: translateX(70.5%) rotate(135deg);
  background-color: #1bd1ff;
}

/*^ #answer-box */

#answer-box h2 {
  padding-top: 2em;
}

#answer {
  margin-block: 14px;
  padding: 20px 24px 24px 24px;
  background-color: #2c2c2c;
  box-shadow: 1px 2px 8px 0px #0000002c, inset 0px 0px 2px 0px #6d6d6d2a;
  border-radius: 13px;
}

#answer h3 {
  margin: 0 0 8px 0;
}

#answer p {
  word-break: break-all;
  color: var(--color-p);
}

#answer p:not(:last-child) {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
